div[wm-flappy] {
    display: flex;
    height: 70%;
    width:65%;
    background-color: #53b5f3;
    justify-content: center;
}

.passaro {
    height: 6%;
    width: 6%;
    align-self: center;
}


.coluna-cima {
    display: flex;
    position:absolute;
    align-self: flex-start;
    background-color: #7ea236;
    height: 26%;
    width: 6%;
    border: solid 1px black;
    border-bottom: none;
    justify-content: center;
}

.borda-coluna-cima {
    position:absolute;
    background-color: #7ea236;
    align-self: flex-end;
    height: 10%;
    width: 125%;
    border: solid 1px black;
}


.coluna-baixo {
    display: flex;
    position:absolute;
    align-self: flex-end;
    background-color: #7ea236;
    height: 26%;
    width: 6%;
    border: solid 1px black;
    border-top: none;
    justify-content: center;
}

.borda-coluna-baixo {
    position:absolute;
    background-color: #7ea236;
    align-self: flex-start;
    height: 10%;
    width: 125%;
    border: solid 1px black;
}


