body {
	margin: 0px;
	display:flex;
	background-image: url("sit.jpg");
	background-color: grey;
	background-repeat: no-repeat;
	background-size: 100vw 40vw;
	
}

header {

}

nav {
	display:flex;
	margin-left: auto;

}

.navegacao {
			color: white;
			border: solid 1px white;
			margin: 10px;
			height: 30px;
			background-color:rgb(88,88,88, .5);
			padding: 10px;
			display: -webkit-flex;
			display: flex;
			align-items: center;
}

h1 {
	align-self: center;
	margin-left: auto;

}